/**
 * © Copyright IBM Corp. 2022, 2023
 * SPDX-License-Identifier: Apache-2.0
 */

@import '@carbon/charts/styles.css';
 
.hdm--custom-layout-container {
  display: flex;
  flex-direction: column;

  > div {
    border: unset !important;
  }
  
  .heatmap {
    background: #fff;
    margin: 1rem 1rem 0;
    
    &__heading {
      display: flex;
      flex-direction: column;
      font-size: 1.25rem;
      padding: 1rem 1rem 0;
    }
    
    &__subheading {
      color: #525252;
      font-size: 0.875rem;
      line-height: 2rem;
    }
    
    &__chart {
      padding: 1rem;
    }
    
    &__reset {
      float: right;
      margin-right: 1rem;
    }

    &-options {
      &-firstrow {
        align-items: center;
        column-gap: 12px;
        display: inline-flex;
      }
    }
  }
}
